#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

#user-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
   
  
.card { 
  border: 2px solid #e7e7e7;
  border-radius: 4px; 
  padding: .5rem;
}

#repos-list {
  margin-left: 1rem;
}